@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <h4>Horrid Procrastinator</h4>
            <p>
                Placeholder
            </p>
        </div>
        <div class="col-md-4">
            <h4>Gamer at Heart</h4>
            <p>
                Placeholder
            </p>
        </div>
        <div class="col-md-4">
            <h4>Budding Programmer</h4>
            <p>
                Placeholder
            </p>
        </div>
    </div>
</div>
