@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Street Address<br />
    City, State Zip-Code<br />
    <abbr title="Phone">P:</abbr>
    Phone Number
</address>

<address>
    <strong>Email:</strong> <a href="">My Email</a><br />
</address>
