
@{
    ViewData["Title"] = "Design";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            Home Page:
            <img class="design" src="~/images/Wireframes/home.jpg" />
        </div>
        <div class="col-md-4">
            Games Page:
            <img class="design" src="~/images/Wireframes/games.jpg" />
        </div>
        <div class="col-md-4">
            Review Page:
            <img class="design" src="~/images/Wireframes/review.jpg" />
        </div>
        <div class="col-md-4">
            Livestreams Page:
            <img class="design" src="~/images/Wireframes/livestream.jpg" />
        </div>
        <div class="col-md-4">
            About/Content Page:
            <img class="design" src="~/images/Wireframes/about-content.jpg" />
        </div>
    </div>
</div>
