
@{
    ViewData["Title"] = "Games";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <h4>Currently Playing</h4>
            <br />
            <img class="games" src="~/images/GameCovers/WargameRedDragon.jpg" />
        </div>

        <div class="col-md-4">
            <h4>Finished Games</h4>
            <br />
            <img class="games" src="~/images/GameCovers/TalesofGracesf.jpg" />
        </div>

        <div class="col-md-4">
            <h4>Unfinished Games</h4>
            <br />
            <img class="games" src="~/images/GameCovers/XenobladeChronicles2.jpg" />
        </div>
    </div>
</div>